body {
  margin: 100px;
  padding: 0;
}

.comp-container {
  display: flex;
  width: 250px;
  height: 200px;
  border: solid black 2px;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.count {
  margin-left: 20px;
  margin-right: 20px;
}
